.rqau-img-shade {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18);
  position: absolute;
  background-color: rgba(241, 242, 243, 0.8);
}
.rqau-img-shade-1 {
  top: 0;
  left: 0;
}
.rqau-img-shade-2 {
  bottom: 0;
  right: 0;
}
